<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('site.webmanifest') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="theme-color" content="#ffffff">
        <!-- Favicon -->

        <!-- Open Graph - Twitter cards -->
        {% block meta %}{% endblock %}
        <!-- Open Graph - Twitter cards -->

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('asset/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/font-awesome.min.css') }}">
        {% endblock %}

        <title>{% block title %}{% endblock %} - Cocorico World </title>
    </head>
    <body class="body">
        
        {% block header%}{% include 'layout/_header.html.twig' %} {% endblock %}

        <div class="body__content container">

            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}

            {% block body %}{% endblock %}

        </div>

        {% block footer %} {% include 'layout/_footer.html.twig' %} {% endblock %}
        
        {% block javascripts %}
            <script src="{{ asset('asset/js/jquery.min.js') }}" ></script>
            <script src="{{ asset('asset/js/popper.min.js') }}" ></script>
            <script src="{{ asset('asset/js/bootstrap.min.js') }}" ></script>
        {% endblock %}
        
    </body>
</html>
