<!-- Footer -->
<footer class="footer font-small">

    <div class="social__container text-white">

        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Suivez nous sur les réseaux sociaux !</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a href="#" class="mr-4 text-white link__icon">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                    <!-- Twitter -->
                    <a href="#" class="mr-4 text-white link__icon">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <!-- Google +-->
                    <a href="#" class="mr-4 text-white link__icon">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <!--Linkedin -->
                    <a href="#" class="mr-4 text-white link__icon">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <!--Instagram-->
                    <a href="#" class="mr-4 text-white link__icon">
                        <i class="fa fa-instagram"></i>
                    </a>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">Cocorico World</h6>
                <hr class="footer__divider mb-4 mt-0 d-inline-block mx-auto">
                <p>Chez Cocorico World et avec nos collaborateurs, nous mettons un poing d'honneur à vous délivrer des produits frais Français et de bonne qualité !</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Coup de coeur</h6>
                <hr class="footer__divider mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    <a href="#">Gateau au chocolat</a>
                </p>
                <p>
                    <a href="#">Camembert AOP</a>
                </p>
                <p>
                    <a href="#">Jus de clémentine bio</a>
                </p>
                <p>
                    <a href="#">Tomate cerise</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Des questions ?</h6>
                <hr class="footer__divider mb-4 mt-0 d-inline-block mx-auto">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if not is_granted('ROLE_PRODUCER') %}

                        <p>
                            <a href="{{ path('producer_registration') }}">Vendre sur Cocorico</a>
                        </p>

                    {% endif %}
                {% endif %}

                <p>
                    <a href="{{ path('contact') }}">Nous contacter</a>
                </p>
                <p>
                    <a href="{{ path('faq_page') }}">FAQ </a>
                </p>
                <p>
                    <a href="{{ path('legalsmentions_page') }}">Mentions Legales</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Localisation</h6>
                <hr class="footer__divider mb-4 mt-0 d-inline-block mx-auto">
                <p>
                    <i class="fa fa-home mr-3"></i>75017 Paris, France</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i>hello@cocorico-world.fr</p>
                <p>
                    <i class="fa fa-phone mr-3"></i>+ 33 6 00 00 00 00</p>
                <p>
                    <i class="fa fa-print mr-3"></i>+ 33 6 00 00 00 00</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer__copyright text-white text-center py-3">© 2018 Copyright:
        <a href="{{ path('homepage') }}" class="text-white"> Cocorico-World.fr</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
