{% extends 'base.html.twig' %}

{% block meta %}
    <meta property="og:title" content="Accueil - Cocorico World">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:image" content="{{ asset('asset/image/cocorico-world.jpg') }}">
    <meta property="description"
          content="Cocorico World est une plateforme de mise en relation entre producteurs et consommateurs pour l'achat et la vente de produits 100% français">

    <meta property="twitter:card" content="summary">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('asset/css/owl.theme.default.min.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="mt-3">

        <h2 class="text-center mb-4">Découvrir les producteurs</h2>

        <div class="d-flex flex-wrap justify-content-around">

            {% for producer in producers %}

                <div class="card p-0 col-sm-12 col-md-5 col-lg-3 mx-2 mx-lg-1 mb-5">

                    <!--Card image-->
                    <a href="{{ path('producer_show', {'id': producer.id}) }}" class="d-block">

                        <img class="card-img-top" src="{{ asset('uploads/avatar/' ~ producer.avatar)|imagine_filter('avatar2_thumbnails') }}" alt="Card image cap">

                    </a>
                    <!--Card image-->

                    <!--Card content-->
                    <div class="card-body">
                        <!--Title-->
                        <a href="{{ path('producer_show', {'id': producer.id}) }}">
                            <h4 class="card-title">{{ producer.firstname ~ ' ' ~ producer.lastname }}</h4>
                        </a>
                        <p>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                        </p>


                        <!--Text-->
                        <p class="card-tex*">{{ producer.description|truncate(40, '...') }}</p>
                        <hr>
                        <a><span>{{ producer.nbProducts }} produit{% if producer.nbProducts > 1 %}s{% endif %}</span></a>
                        <p class="float-right">Inscrit en {{ producer.createdAt|date('Y') }}</p>
                    </div>
                    <!--Card content-->

                </div>
            {% endfor %}

        </div>

    </section>

    <section class="mb-5 mt-2">

        <h2 class="text-center mb-4">Les derniers produits</h2>

        {{ include('layout/_carousel.html.twig', {
            products: last_products,
        }) }}
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('asset/js/owl.carousel.min.js') }}" ></script>
    <script src="{{ asset('asset/js/script-carousel.js') }}"></script>
{% endblock %}
